In [3]:
import pandas as pd
import numpy as np

In [20]:
''' Function to import data from github. Date range must be valid per the given URL'''

def import_data(start_date: int, end_date: int):
    li = []
    for year in range(start_date, end_date, 1):
        url = f'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/refs/heads/master/atp_matches_{year}.csv'
        data = pd.read_csv(url, header=0)

        li.append(data)

    frame = pd.concat(li, axis=0, ignore_index=True)
    return frame

In [21]:
import_data(2005, 2010)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2005-1536,Madrid Masters,Hard,48,M,20051017,1,103812,NaN,NaN,...,27.0,20.0,6.0,8.0,2.0,5.0,42.0,827.0,63.0,621.0
1,2005-1536,Madrid Masters,Hard,48,M,20051017,2,102845,NaN,NaN,...,24.0,16.0,9.0,7.0,5.0,9.0,33.0,1005.0,41.0,836.0
2,2005-1536,Madrid Masters,Hard,48,M,20051017,3,102450,NaN,NaN,...,22.0,15.0,20.0,9.0,1.0,4.0,26.0,1120.0,28.0,1115.0
3,2005-1536,Madrid Masters,Hard,48,M,20051017,4,104076,NaN,NaN,...,32.0,22.0,25.0,12.0,4.0,8.0,55.0,678.0,29.0,1090.0
4,2005-1536,Madrid Masters,Hard,48,M,20051017,5,103971,NaN,NaN,...,21.0,13.0,6.0,6.0,2.0,5.0,45.0,771.0,30.0,1070.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15926,2009-615,Dusseldorf,Clay,32,A,20090517,286,104417,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.0,1775.0,56.0,1100.0
15927,2009-615,Dusseldorf,Clay,32,A,20090517,284,104678,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,37.0,1437.0,102.0,774.0
15928,2009-615,Dusseldorf,Clay,32,A,20090517,280,104620,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.0,1051.0,1137.0,10.0
15929,2009-615,Dusseldorf,Clay,32,A,20090517,277,105023,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.0,1100.0,29.0,1645.0
15930,2009-615,Dusseldorf,Clay,32,A,20090517,276,104417,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.0,1775.0,7.0,4050.0